{% extends "template.html" %}
{% block body %}

<body>
	<div class="container">

		<form class="form-horizontal" action="" method="post">
			<fieldset>
			<h1>Issue Tickets</h1>
			<div class="form-group">
			  <label for="inputImage" class="col-lg-2 control-label">Album Photo URL</label>
			  <div class="col-lg-10">
			    <input type="text" class="form-control" placeholder="Album Photo" name="image" value="{{request.form.image}}">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputName" class="col-lg-2 control-label">Artist Name</label>
			  <div class="col-lg-10">
			    <input type="text" class="form-control" placeholder="Artist Name" name="ticket_name" value="{{request.form.ticket_name}}">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
			  <div class="col-lg-10">
			    <input type="text" class="form-control" placeholder="Email" name="email" value="{{request.form.email}}">
			    <span class="help-block">All metadata will be encoded on the Bitcoin Blockchain, with the exception of your email address</span>
			  </div>
			</div>
			<div class="form-group">
			  <label for="textArea" class="col-lg-2 control-label">Description</label>
			  <div class="col-lg-10">
			    <textarea type="text" class="form-control" placeholder="Description" name="description" value="{{request.form.description}}"></textarea>
			    <span class="help-block">The mining fee scales with the amount of content you put in the description</span>
			  </div>
			</div>
			<div class="form-group">
			  <label for="select" class="col-lg-2 control-label">Ticket Price</label>
			  <div class="col-lg-10">
			    <input type="number" class="form-control" placeholder="Ticket Price" name="ticket_price" value="{{request.form.ticket_price}}">
			    <span class="help-block">The price per ticket</span>
			  </div>
			</div>
			<div class="form-group">
			  <label for="select" class="col-lg-2 control-label">Issued Amount</label>
			  <div class="col-lg-10">
			    <input type="number" class="form-control" placeholder="Issued Amount" name="issued_amount" value="{{request.form.issued_amount}}">
			    <span class="help-block">The quantity of tickets you want to create</span>
			  </div>
			</div>
			<div class="form-group">
			  <label for="select" class="col-lg-2 control-label">Sign with Private Key</label>
			  <div class="col-lg-10">
			    <input type="password" class="form-control" placeholder="Brainwallet Password" name="private_key" value="{{request.form.private_key}}">
			    <span class="help-block">Your password will not be stored or saved</span>
			  </div>
			</div>
			<div class="form-group">
			  <div class="col-lg-10 col-lg-offset-2">
			    <button class="btn btn-default">Cancel</button>
			    <button type="submit" class="btn btn-custom">Submit</button>
			  </div>
			</div>
			</fieldset>
		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
	</div>



</body>



{% endblock %}